  body {
    padding:0;
    margin:0;
    font-family: 'Raleway';

  }
  html{
    background: #ccc
  }
  .margi {
    margin-left: 20px;
    margin-right: 20px;
  }
  .zera {
    margin:0;
    padding: :0;
  }
  .zer {
    margin: 0 auto;
  }
  .texto-centro {
    text-align: center
  }
  .branco {
    color:#f8f8f8;
  }
  .subtitulo {
    font-size: 16px;
    line-height: 20px;
  }
  .titulo {
    line-height: 10px;
  }
  .segtitulo {
    padding-bottom: 10px;
    text-align: center;
  }
  .padding-20-b {
    padding-bottom: 20px;
  }
  .relativo {
    position: relative
  }
  .absoluto {
    position: absolute;
  }
  .img-responsive {
    max-width: 100%;
    height:auto;
    left:0px;
  }
  .image-center {
    width:100%;
    height:auto;
    margin:0 auto;
    position:relative;
  }
  .quadro {

    padding-bottom:50px;
    width:100%;
    margin:0;
    height: 400px;

  }
  .cor-tema {
    background:#ccc;
  }
  .subtitulo  {
    color:#e5e5e5;
  }
  .logo {
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border:1px solid #f8f8f8;
    margin: 0 auto;
    position: relative;
  }
  .logo-logo {
    padding-top:15px;
  }

  .logo-icon {
    padding-top:25%;
  }
  .padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .espaco {
    padding-top: 400px;
  }
  .tamanho {
    height: 800px;
  }
@media screen and (max-width: 480px) {
    .tamanho {
      height: 500px;
    }
  }


  .zin {
    z-index: 99;
  }
  .fundo-cor {
    position:absolute; height:500px; width:100%;margin:0; padding:0; background:linear-gradient(to bottom,#9C5865,#DD545C);padding-top:0; z-index:0;
  }
  .texto {
    padding-top: 10px
  }

  .padding-50-resp {
    padding-top: 0px
  }

  @media screen and (max-width: 480px) {
    .padding-50-resp {
      padding-top: 90px
    }
    }
